{% extends '::base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/oferta/css/normalizar.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/oferta/css/comun.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/oferta/css/frontend.css') }}" />
{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
	<header>
		{%
			set ciudadSeleccionada = app.request.attributes.has('ciudad') ? 
				app.request.attributes.get('ciudad') : cupon.ciudad_por_defecto
		%}
		<h1><a href="{{ path('portada', {'ciudad': ciudadSeleccionada}) }}">CUPON</a></h1>
		<nav>
			<ul>
				<li><a href="{{ path('portada', {'ciudad': ciudadSeleccionada}) }}">Oferta del día</a></li>
				<li><a href="{{ path('ciudad_recientes', {'ciudad': ciudadSeleccionada}) }}">Ofertas recientes</a></li>
				<li><a href="#">Mis ofertas</a></li>
				<li>{{ render(controller('CiudadBundle:Default:listaCiudades', {'ciudad': ciudadSeleccionada})) }}</li>
			</ul>
		</nav>
	</header>
	<article>
		{% block article %}{% endblock %}
	</article>
	<aside>
		## FORMULARIO DE LOGIN ##
		<section id="nosotros">
			<h2>Sobre nosotros</h2>
			<p>Lorem ipsum dolor sit amet...</p>
		</section>
		{% block aside %}{% endblock %}
	</aside>
{% endblock %}